In [19]:
import pandas as pd
import numpy as np

In [20]:
properatti_df_bsas=pd.read_csv("../TP-grupo7/tp2_properati.csv", sep=",", encoding='utf-8')
properatti_df_bsas.sample(5)

,Unnamed: 0,barrio,price_usd_per_m2,surface_total_clean,rooms_clean,precios_nuevos,precios_aprox_usd_clean,amenities,estacionamiento,sum,pileta,parrilla,gimnasio,lavadero,solarium,quincho,baulera,terraza
17101,64736,San Nicolas,2769.230769,65.0,3.0,180000.0,180000.0,False,True,False,False,False,False,False,False,False,False,False
14386,55591,Flores,2118.644068,59.0,3.0,125000.0,125000.0,False,False,False,False,False,False,False,False,False,False,False
30713,118211,Palermo,NaN,58.0,3.0,NaN,NaN,True,False,True,True,True,True,False,True,False,False,False
10431,40869,Palermo,NaN,90.0,2.0,135000.0,135000.0,True,False,False,False,False,False,True,False,False,False,False
3603,16346,Villa Devoto,2222.222222,81.0,4.0,180000.0,180000.0,True,False,False,False,False,False,True,False,False,False,False

In [21]:
lista=[]
for col in properatti_df_bsas.columns:
    lista.append(col)
print(lista)

['Unnamed: 0', 'barrio', 'price_usd_per_m2', 'surface_total_clean', 'rooms_clean', 'precios_nuevos', 'precios_aprox_usd_clean', 'amenities', 'estacionamiento', 'sum', 'pileta', 'parrilla', 'gimnasio', 'lavadero', 'solarium', 'quincho', 'baulera', 'terraza']

In [22]:
properatti_df_bsas=properatti_df_bsas*1
properatti_df_bsas.sample(5)

,Unnamed: 0,barrio,price_usd_per_m2,surface_total_clean,rooms_clean,precios_nuevos,precios_aprox_usd_clean,amenities,estacionamiento,sum,pileta,parrilla,gimnasio,lavadero,solarium,quincho,baulera,terraza
12821,49491,Villa Crespo,3055.340426,47.0,2.0,143601.0,143601.0,1,0,0,1,1,1,0,1,0,0,0
8935,35284,Barrio Norte,2215.189873,79.0,3.0,175000.0,175000.0,1,0,0,1,1,0,0,0,1,1,0
15349,58874,Villa Crespo,2032.500000,40.0,1.0,81300.0,81300.0,1,1,0,0,1,0,0,1,0,1,0
28957,111812,Monserrat,2046.296296,54.0,2.0,110500.0,110500.0,1,0,0,1,0,0,0,0,0,0,0
28784,111392,San Nicolas,NaN,50.0,2.0,139000.0,139000.0,1,1,0,0,0,0,1,0,0,0,0

In [27]:
properatti_df_bsas.shape

(31942, 18)